{% set amountNodes = NODES | int %}
<VirtualHost *:9980>
        ServerName jiracluster
        Header add Set-Cookie  "ROUTEID=.%{BALANCER_WORKER_ROUTE}e; path=/"  env=BALANCER_ROUTE_CHANGED
        <Proxy balancer://jira-cluster>
            {% for n in range(1, (amountNodes+1)) %}
                BalancerMember http://jira-cluster-node{{ n }}:8080 route={{ n }}
            {% endfor %}
        </Proxy>
        ProxyPass / balancer://jira-cluster/  stickysession=ROUTEID
        ProxyPreserveHost on
        ProxyRequests off
        ProxyTimeout 9600
</VirtualHost>