#
# Doc: https://confluence.atlassian.com/adminjiraserver073/installing-jira-data-center-861253059.html
#

#
# CLUSTER SETTINGS
#
jira.node.id = jira-cluster-740-node{{ NODE_NUMBER }}
jira.shared.home = /jira-shared-home

#
# LISTENER
#
ehcache.listener.hostName = jira-cluster-740-node{{ NODE_NUMBER }}
ehcache.listener.port = 40001

#
# MULTICAST
#
ehcache.peer.discovery = automatic
ehcache.multicast.address = 230.0.0.1
ehcache.multicast.port = 4446
ehcache.multicast.timeToLive = 32
